
@{
    ViewData["Title"] = "Dashboard";
}
@{
    Layout = "~/Views/Shared/Smart_Layout.cshtml";
}


<div style="width: 110%;" class="butterfly-container">
    <img src="~/newfolder/024729c7-9a68-4a2b-b2ee-b4975012a230.png" class="butterfly-img" style="width: 100%; height: auto; margin-left: auto; margin-right: 0;">
</div>



