@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/Navbar_Layout.cshtml";
}
<section class="search-bar">
    <form>
        <input type="text" placeholder="search here">
        <button type="submit"><i class="fa fa-search"></i></button>
    </form>
</section>
<section class="movies">
    <div class="movie-card" onclick="window.location.href='/movie-detail.html'">
        <div class="movie-image">
            <img src="~/newfolder/trailer.jpg" />
        </div>
        <div class="movie-info">
            <h4>Shopping cart</h4>
            <h4>add their favorite products and proceed with the purchase.</h4>
        </div>
    </div>

    <div class="movie-card" onclick="window.location.href='/movie-detail.html'">
        <div class="movie-image">
            <img src="~/newfolder/predict-customer-acceptance.jpg" />
        </div>
        <div class="movie-info">
            <h4>Top Product</h4>
            <h4>Best stationary items </h4>
        </div>
    </div>


    <div class="movie-card" onclick="window.location.href='/movie-detail.html'">
        <div class="movie-image">
            <img src="~/newfolder/product5.jpg" />
        </div>
        <div class="movie-info">
            <h4>Best food items</h4>
            <h4>Multiple collection of items</h4>
        </div>
    </div>

    <div class="movie-card" onclick="window.location.href='/movie-detail.html'">
        <div class="movie-image">
            <img src="~/newfolder/watch3.jpg" />
        </div>
        <div class="movie-info">
            <h4>Best selling watch</h4>
            <h4>Smart Pinki</h4>
        </div>
    </div>


    <div class="movie-card" onclick="window.location.href='/movie-detail.html'">
        <div class="movie-image">
            <img src="~/newfolder/watch4.jpg" />
        </div>
        <div class="movie-info">
            <h4>Top design seller </h4>
            <h4>Multiple color watches</h4>
        </div>
    </div>


    <div class="movie-card" onclick="window.location.href='/movie-detail.html'">
        <div class="movie-image">
            <img src="~/newfolder/vegetable.jpg" />
        </div>
        <div class="movie-info">
            <h4>Fresh vegetables</h4>
        </div>
    </div>


    <div class="movie-card" onclick="window.location.href='/movie-detail.html'">
        <div class="movie-image">
            <img src="~/newfolder/girls5.jpg" />
        </div>
        <div class="movie-info">
            <h4>Clothing</h4>
            <h4>Women collection</h4>
        </div>
    </div>


    <div class="movie-card" onclick="window.location.href='/movie-detail.html'">
        <div class="movie-image">
            <img src="~/newfolder/girls2.jpg" />
        </div>
        <div class="movie-info">
            <h4>Clothing</h4>
            <h4>Women collection</h4>
        </div>
    </div>



    <div class="movie-card" onclick="window.location.href='/movie-detail.html'">
        <div class="movie-image">
            <img src="~/newfolder/girls3.jpg" />
        </div>
        <div class="movie-info">
            <h4>Best design</h4>
            <h4>Women shirt collection</h4>
            <h4>Branded colors</h4>
            <h4>multiple designs</h4>
        </div>
    </div>


    <div class="movie-card" onclick="window.location.href='/movie-detail.html'">
        <div class="movie-image">
            <img src="~/newfolder/girls4.jpg" />
        </div>
        <div class="movie-info">
            <h4>Best kurti collection</h4>
        </div>
    </div>

    <div class="movie-card" onclick="window.location.href='/movie-detail.html'">
        <div class="movie-image">
            <img src="~/newfolder/shoes2.jpg" />
        </div>
        <div class="movie-info">
            <h4>Top sell </h4>
            <h4>Women branded shoes</h4>
        </div>
    </div>
    <div class="movie-card" onclick="window.location.href='/movie-detail.html'">
        <div class="movie-image">
            <img src="~/newfolder/shoes3.jpg" />
        </div>
        <div class="movie-info">
            <h4>Women heels collection</h4>
        </div>
    </div>
    <div class="movie-card" onclick="window.location.href='/movie-detail.html'">
        <div class="movie-image">
            <img src="~/newfolder/shoes1.jpg" />
        </div>
        <div class="movie-info">
            <h4>Small childrens shoes sandles collection</h4>
        </div>
    </div>
    <div class="movie-card" onclick="window.location.href='/movie-detail.html'">
        <div class="movie-image">
            <img src="~/newfolder/shampoo2.jpg" />
        </div>
        <div class="movie-info">
            <h4>Top moisture shampoo</h4>
        </div>
    </div>
    <div class="movie-card" onclick="window.location.href='/movie-detail.html'">
        <div class="movie-image">
            <img src="~/newfolder/lipistic.jpg" />
        </div>
        <div class="movie-info">
            <h4>Best Branded Lipistic</h4>
        </div>
    </div>
</section>

<div class="pagination">
    <a href="#">&laquo;</a>
    <a href="#">1</a>
    <a class="active" href="#">2</a>
    <a href="#">3</a>
    <a href="#">4</a>
    <a href="#">5</a>
    <a href="#">6</a>
    <a href="#">&raquo;</a>
</div>
